.coveo-logo svg {
    display : none;
}

.coveo-logo {
    background-image: url("");
    background-position: 0 0;
    background-size: auto;
    background-color: white;
}

.CoveoSearchInterface.coveo-waiting-for-first-query {
    background: white;
    background-color: white;
}

.coveo-first-loading-animation {
    background: white;
}

.page-coveo-search-page #page-title {
  padding-bottom: 0px;
}

.CoveoResult.coveo-result-frame .coveo-result-cell .CoveoFieldValue span.a:hover,
.CoveoResult.coveo-result-frame .coveo-result-cell .CoveoFieldValue span.a:visited
{
  font-size: 12px;
  color: #686868;
}

.CoveoResult .featured-result {
  background-color: #f4f4f4;
  margin-left: 0px;
  width: 100%;
  padding-left: 25px;
  border: none;
  margin-top: 25px;
  padding-right: 10px;
}

.CoveoResult .featured-result a.CoveoResultLink,
.CoveoResult .featured-result a.CoveoResultLink:hover, 
.CoveoResult .featured-result a.CoveoResultLink:visited {
  color: #990000 !important;
  font-size: 24px;
}

.CoveoResult .featured-result .CoveoFieldValue a {
  font-size: 18px !important;
  color: #686868;
}

.CoveoResult .coveo-result-frame .coveo-result-cell .CoveoExcerpt
{
  font-size: 17px;
  line-height: 1.5;
  color: #231F20;
  font-weight: normal;
  font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif
}

.coveo-summary-section .CoveoQueryDuration
{
  /*display: none !important;*/
}

.CoveoResult .featured-result .coveo-result-cell .CoveoExcerpt
{
  display: none;
}

.CoveoResult .featured-result .coveo-result-cell{
  padding-top: 0px;
}

.CoveoResult .featured-result .coveo-result-row{
  margin: 0px;
  word-wrap: break-word;
}

.CoveoResult .coveo-result-frame .CoveoFieldValue a {
  font-size: 12px;
  color: #686868;
  word-wrap: break-word;
}

.CoveoResult .coveo-result-frame .coveo-result-row .coveo-result-cell .coveo-result-row
{
  padding-bottom: 15px;
}

.CoveoResult .featured-result .coveo-result-row .coveo-result-cell .coveo-result-row
{
  padding-bottom: 10px;
}

span.coveo-title-wrapper h1#page-title 
{
  background-color: #f4f4f4;
  max-width: 100%
}

.CoveoSearchInterface {
  font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #373737;
}

.CoveoSearchInterface .coveo-main-section {
	background-color: #ffffff;
}

.CoveoSearchInterface .coveo-search-section {
	max-width: 825px;
	margin: 0px auto 30px 0px;
	padding: 30px 0px 0px 0px;
}

.coveo-results-header {
	padding-top: 0px;
	box-shadow: 0 -1px 0px 0px #c4c4c4 inset;
  /*border-bottom: 1px solid #c4c4c4;*/
  width:99%;
 	padding-bottom: 25px;
}

.CoveoQuerySummary {
  color: #231f20;
  text-align: left;
  font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.coveo-list-layout.CoveoResult {
  border-bottom: none;
  padding: 0px 0px 0px 0px;
  width: 99%;
}

.CoveoSearchbox .CoveoSearchButton {
  background-color: #ffffff;
}

.CoveoSearchButton {
  height: 70px;
}

.coveo-search-button-svg {
	color: #990000;
}

.coveo-executing-query .CoveoSearchButton .coveo-search-button-loading-svg {
	color: #990000;
}

.CoveoSearchButton:hover .coveo-magnifier-circle-svg {
  fill: #990000;
}

.magic-box .magic-box-input {
  height: 68px;
}

.magic-box .magic-box-input .magic-box-underlay,
.magic-box .magic-box-input > input {
  height: 70px;
}

.magic-box .magic-box-clear {
  height:68px;
  line-height: 68px;
}

.coveo-result-frame,
.CoveoResult.coveo-result-frame {
  margin-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #c4c4c4;
  padding-right: 8px;
  width: 97%;
}

.coveo-result-frame .coveo-result-row,
.CoveoResult.coveo-result-frame .coveo-result-row {
	margin: 0px 0px;
}

.CoveoResultLink,
a.CoveoResultLink,
.CoveoResult a.CoveoResultLink {
	color: #636f00;
	font-weight: bold;
  	font-size: 20px;
}

.CoveoResultLink:hover,
.CoveoResultLink:visited,
a.CoveoResultLink:hover,
a.CoveoResultLink:visited,
.CoveoResult a.CoveoResultLink:hover,
.CoveoResult a.CoveoResultLink:visited {
  color: #636f00 !important;
}

.coveo-pager-list-item.coveo-active, .coveo-pager-list-item:hover {
	color: #ffffff;
	background-color: #2d6280;
	text-decoration: none;
}

.coveo-pager-list-item {
  margin: 5px 4px;
  padding: 12px 16px;
  border: none;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif
}

.coveo-pager-list-item.coveo-active a,
.coveo-pager-list-item:hover a {
  color: #ffffff;
}

.coveo-pager-list-item.coveo-active,
.coveo-pager-list-item:hover {
  color: #ffffff;
  background-color: #2d6280;
  text-decoration: none;
}
.coveo-pager-next-icon-svg,
.coveo-pager-previous-icon-svg {
  width: 10px;
  height: 16px;
}

.coveo-pager-previous,
.coveo-pager-next {
	background-color: #2d6280;
}

.coveo-pager-previous:hover,
.coveo-pager-next:hover {
  color: #686868;
  background-color: #2d6280;
}

.CoveoPager {
  margin-top: 0px;
  margin-left: 25px;
  display: inline-block;
}

.coveo-pager-next-icon-svg,
.coveo-pager-previous-icon-svg {
  width: 10px;
  height: 16px;
  color: #ffffff;
}

.CoveoResultsPerPage {
  margin: 0 16px 0 0px;
  padding-left: 30px;
}

.coveo-results-per-page-text {
  padding-left: 0;
  color: #686868;
  font-size: 14px;
 font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif
}

.coveo-results-per-page-list-item.coveo-active, 
.coveo-results-per-page-list-item:hover
{
  color: #ffffff;
  background-color: #2d6280;
}

.coveo-results-per-page-list-item.coveo-active a,
.coveo-results-per-page-list-item:hover a {
  color: #ffffff;
  font-size: 14px;
}

.coveo-results-per-page-list-item {
  height: 45px;
  font-weight: bold;
  font-family: "NewsGothicBT","Avant Garde","Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 5px 4px;
  padding: 12px 16px;
  font-size: 14px;
}

.CoveoResultList {
	margin-top: 0px;
}

.coveo-result-frame .coveo-result-row, 
.CoveoResult.coveo-result-frame .coveo-result-row
{
  width: 98%;
}
